.chip-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  &.only {
    margin-left: 4px;
  }
}

.chip-button-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  margin: 0 2px;

  &.only {
    color: green;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }

  &.remove {
    color: red;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}
